.image37Icon {
    width: 245px;
    height: 245px;
    position: relative;
    border-radius: var(--br-9xs);
    object-fit: cover;
}

.claro {
    position: relative;
    line-height: 28px;
}

.claroBrandFrame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-53xl);
}

.buyDataAnd,
.fastAndSimple {
    margin: 0;
}

.buyDataAndContainer {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 16px;
    color: var(--color-darkslategray);
    text-align: center;
}

.container10,
.container14 {
    border-radius: var(--br-9xs);
    background-color: var(--color-white);
    box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.container10 {
    align-self: stretch;
    height: 185px;
    padding: var(--padding-4xl-5) var(--padding-5xl) var(--padding-4xl);
    box-sizing: border-box;
    gap: 39.5px 0;
    z-index: 1;
    margin-top: -2px;
}

.container14 {
    padding: 0 var(--padding-11xs-5) 3.999999999999943px;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray);
    font-family: var(--font-manrope);
}